.operation-builder-wrapper {
  padding-top: 40px;
}

.operation-node {
  padding-bottom: 10px;
}

.operation-node::before {
  content: '.';
  background: #000;
  position: absolute;
  margin-left: -27px;
}

.operation-node-remove-button {
  margin-left: 10px;
}

.operation-node-add-op-button {
  margin: 10px 0px 0 30px;
  background: #ff9292;
  border: 1px solid #ff3e3e;
  cursor: pointer;
  border-radius: 20px;
  padding: 0px 12px;
}

.operation-node-add-op-button.hidden {
  display: none;
}

.operation-node-add-op-button::before {
  content: '.';
  background: #000;
  position: absolute;
  margin-left: -40px;
}
